@page "/"
@inject CurrentPage currentPage

<h4>Management System for a fictional machine park.</h4>

@code {

    protected override async Task OnInitializedAsync()
    {
        currentPage.SetCurrentPageName("Home");
        currentPage.SetCurrentPageDescription("Welcome");
    }
}