@page "/"
@using Ovnign17.Shared
@using Ovning17.Services

<h3>List of Devices</h3>

<DevicesList DeviceItems="items"></DevicesList>

@code {
    private IEnumerable<Device> items = new List<Device>();

    [Inject]
    public IDevicesClient DevicesClient { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        items = await DevicesClient.GetAsync();
    }
}
