

<div class="top-row ps-3 bg-white shadow-sm">
    <div class="container-fluid">
        <h3>Daily Stats</h3>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
    </div>
</div>

@code {

}
