

<div class="top-row ps-3 bg-light m-2 shadow-sm">
    <div class="container-fluid">
        <h3>Daily Stats</h3>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
    </div>
</div>

@code {

}
