@using Ovning17.Services


<div class="top-row ps-3 bg-white shadow-sm">
    <div class="container-fluid">
        <h5>Daily Stats</h5>
        <ul>
           
         <li>Total Devices: @DevicesCount</li>
            <li>Online Devices: @OnlineDevicesCount</li>
        </ul>
    </div>
</div>

@code {

    [Inject]
    public IDevicesClient DevicesClient { get; set; } = default!;

    [Parameter]
    public int DevicesCount { get; set; }

    [Parameter]
    public int OnlineDevicesCount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var devices = await DevicesClient.GetAsync();
        DevicesCount = devices.Count();
        OnlineDevicesCount = devices.Count(d => d.IsOnline == true);
    }
}
