@inherits LayoutComponentBase

<div class="page">
    <h1>Dashboard</h1>
    <p>Overview of your internet of things</p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <MachineParkStatistics />
            </div>
            <div class="col-10">
                <main>
                    <article>
                        @Body
                    </article>
                </main>
            </div>
        </div>
    </div>


</div>
